.shopMain{
    padding: 0 4rem;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 2rem 0;
    place-items: center;
   column-gap: 1rem;
    row-gap: 4rem;
}
.shopMain h2{
    font-size: 3.3rem;
    color: #040121;
    text-transform: capitalize;
    position: relative;
    width: 30%;
    padding-top: 3rem;
    left: 5%;
    font-family: 'Times New Roman', Times, serif;
}
// .shopMain h2::after{
//     position: absolute;
//     content: "";
//     height: 0.3rem;
//     width: 50%;
//     top: 2.8rem;
//     left: 5px;
//     border-radius: 10px;
//     background-color: orangered;
// }
@media screen and (max-width: 900px){
    .shopMain{
        padding: 0 1rem;
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }

    
}